/* Basic reset */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

span {
    color: #00c896;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: aliceblue;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-color: #f4f4f4; */
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    /* background-color: #333; */
    transition: padding 0.3s ease, height 0.3s ease;
    z-index: 1000;
}

#navbar.sticky {
    padding: 0.5rem;
    height: auto;
}

#navbar img {
    height: auto;
    width: 15rem;
    margin: 0.5rem;
    transition: width 0.3s ease;
}

#navbar.sticky img {
    width: 10rem;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 0;
}

/* #navbar li, #navbar li a {
    text-decoration: none;
    color: aliceblue;
    margin: 0.3rem;
    font-size: 1.1rem;
    transition: color 0.3s ease;
} */
#navbar li,
a {
    text-decoration: none;
    color: aliceblue;
    margin: 0.3rem;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

#navbar a.active {
    color: #00c896;
}



/* Home Section  */
#home {
    /* margin-top: 1.8rem; */
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.home-content {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    height: 50%;
}

.home-content img {
    height: auto;
    width: 36rem;
}

.social-media-icons {
    height: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.social-media-icons a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.8rem;
    color: #00c896;
}

.home-text {
    height: 45vh;
    width: 50%;
    text-align: left;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-text h1 {
    margin: 8px;
    color: aliceblue;
    font-size: 40px;
    font-weight: 500;
}

.home-text h2 {
    color: aliceblue;
    font-weight: 200;
    font-size: 28px;
    margin: 8px;
}

.home-text h3 {
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    margin: 10px;
}

.home-text p {
    color: aliceblue;
    font-size: 22px;
    margin: 8px;
}

.home-text .buttons {
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.home-text .buttons a {
    background-color: #02936f;
    padding: 0.6rem;
    width: 30%;
    text-align: center;
    border-radius: 30px;
}


/* About Section  */

#about {
    /* margin-top: 1rem; */
    text-align: center;
    height: 95vh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#about #Heading {
    font-size: 32px;
    font-weight: 500;
}


.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    height: 60%;

}

.about-content .about-text {
    width: 60%;
    text-align: left;
    padding: 1rem;
}

.about-content .about-text h2 {
    font-size: 24px;
    margin: 0.8rem;
    font-weight: 500;
}

.about-content .about-text p {
    font-size: 17px;
    margin: 0.4rem;
    font-weight: 400;
    gap: 0.2rem;
}

#about .buttons {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    width: 60%;
    justify-content: space-around;
}

#about .buttons a {
    background-color: #02936f;
    /* color: #333; */
    font-weight: 600;
    padding: 0.6rem;
    width: 30%;
    text-align: center;
    border-radius: 30px;
}

/* Oroject and skills section  */
#skills {
    margin: 2rem;
    text-align: center;
    height: 80vh;
}

#skills #Heading {
    font-size: 32px;
    font-weight: 500;
    margin: 1.5rem;
}

.skills-content {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skills-content .skills-image {
    width: 30%;
}

.skills-content .skills {
    width: 60%;
    text-align: left;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-content .skills h2 {
    font-weight: 500;
    margin: 1rem;
}

.skills-content .skills li {
    font-weight: 400;
    margin: 0.6rem;
    font-size: 17px;
}

.skills-content .skills button {
    background-color: #02936f;
    height: 45px;
    padding: 0.6rem;
    border: none;
    width: 30%;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
}


/* Service section  */

#services {
    /* background-color: #000000; */
    text-align: center;
    height: 100vh;
}

.service-block {
    height: 50%;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    padding: 0.8rem;
}

.service-block .service-tile {
    /* background-color: rgb(110, 110, 110); */

    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-block .service-tile #bottom-img {
    height: 50px;
    object-fit: cover;
    width: auto;
}
.service-block .service-tile #top-img {
    height: 120px;
    object-fit: 3/4;
    width: auto;
}

/* Contact section{} */

#contact {
    /* background-color: #e9cbcb; */
    height: 95vh;
    /* margin-top: 2rem; */
    padding-top: 1vh; Adjust based on your navbar height
    scroll-margin-top: 10vh; /* Ensures the section doesn't get hidden behind the navbar */
    scroll-snap-align: start; /* Aligns the section at the start of the viewport */
}

.contact-content{
    /* background-color: bisque; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* gap: 4rem; */
    align-items: center;
}
.contact-image img{
    width: 800px;
    height: auto;
}

.contact-form{
    /* background-color: beige; */
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 65%;
}

.contact-form .mail-form{
    width: 40%;
    height: 80%;
}

.contact-form .mail-form #contact-form1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.contact-form .mail-form #contact-form1 input{
    border: 2px solid #02936f; 
    border-radius: 20px; 
    padding: 10px; 
    outline: none;
    height: 12%;
    width: 70%;
    /* background-color: bisque; */
}

.contact-form .mail-form #contact-form1 textarea{
    border: 2px solid #02936f; 
    border-radius: 20px; 
    padding: 10px; 
    outline: none;
    width: 70%;
    height: 40%;
    /* background-color: bisque; */
}

.contact-form .mail-form #contact-form1 textarea::placeholder,
.contact-form .mail-form #contact-form1 input::placeholder{
    font-size: 15px;
    color: #02936f;
    opacity: 70%;
    /* background-color: bisque; */
}

.contact-form .mail-form #contact-form1 button{
    width: 30%;
    height: 11%;
    border-radius: 20px; 
    padding: 10px; 
    outline: none;
    color: #00c896;
    border: 2px solid #02936f; 
    /* background-color: #02936f;
    color: aliceblue;
    border: none; */

}

.contact-form .contact-info{
    /* background-color: bisque; */
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 85%;
}
.contact-form .contact-info .contact-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-form .contact-info .contact-logo .logobox{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

/* Footer  */

.footersection{
    height: 40vh;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footersection .footer-content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem;
    text-align: center;

}   

.footersection .footer-content h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.8rem 0 0.3rem 0;

}

.footersection .footer-content li{
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
    
}

.footersection .footer-content .footer-box .logobox{
    display: flex;
    align-items: center;
    gap:0.8rem;
}

footer p{
    font-size: 0.9rem;
    padding: 0.8rem;
    text-align: center;
}